 * {cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1039.cur), auto !important;} 


body{

background-image: url(img/me.jpg); 
  background-size: 50%;
 background-position: 50%



}


#header{

color: hwb(0 100% 0%);
font-family: sans-serif;
 text-shadow: 2px 2px 5px hwb(0 100% 0%);


}

h1{
font-family: sans-serif;

  color: hsl(0, 0%, 0%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 500px ;
}

#vol6{

font-family: sans-serif;
  color: lch(100% 0.01 296.81);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 500px ;

}

#vol6:hover{

color: rgb(49, 208, 208);
letter-spacing: 2px;
font-size: x-large;
text-decoration: wavy;

}

h3{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 0%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 60%;


}


#date{


color: #ffffff;

}

#para1{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px #00000080;
  width: 20%;
  margin-left: 20%;

}

#head{


font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(49, 208, 208);
  text-shadow: 2px 2px 5px hsla(0, 0%, 100%, 0.502);
  width: 20%;
 margin-left: 55%;


}

#eevee{

    
margin-left: 55%;

}

#eyes{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px #00000080;
  width: 20%;
 margin-left: 20%;
 margin-top: -30%;


}

#haunter{

margin-left: 20%;
margin-top: 5%;
  height: 250px;
  width: 250px;

}

#remember{

 font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  width: 20%;
 margin-left: 55%;

}

#mew{

margin-left: 55%;
  height: 300px;
  width: 300px;


}

#scent{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  width: 20%;
margin-left: 20%;
margin-top: -25%;

}

#sly{

margin-top: 10%;
margin-left: 60%;
  height: 250px;
  width: 250px;



}


#hope{


font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  width: 20%;
  margin-left: 20%;


}

#somebody{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  width: 20%;


}

#song{

  text-shadow: 2px 2px 5px hwb(0 100% 0%);


}
#image{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
  width: 1000px;




}

#button{



}

#home{




font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px #ffffff;

}